<div class="panel">
  <button (click)="switchMode()">{{ currentMode }}</button>
  <button (click)="getTotalCount()">Total count</button>
  <button (click)="getSelectedCount()">Selected records</button>
</div>

<ag-grid-angular #agGrid
  class="ag-theme-balham grid"
  [rowData]="videos | async"
  [columnDefs]="columnDefs"
  [enableRangeSelection]="true"
  [allowContextMenuWithControlKey]="true"
  [getContextMenuItems]="getContextMenuItems"
  [rowSelection]="rowSelection"
  [suppressRowClickSelection]="true"
  (gridReady)="onGridReady($event)"
  [statusBar]="statusBar">
</ag-grid-angular>
